openapi: 3.2.0
info:
  title: Accredify Dashboard Institutions API
  description: This is the API documentation for the Accredify Dashboard, providing access to our services in a development and production environment.
  version: 2.0.0
servers:
- url: http://dashboard.local.accredify.io/api/v2
  description: Accredify Local (Local)
- url: https://dashboard.uat.accredify.io/api/v2
  description: Accredify Sandbox (UAT)
- url: https://dashboard.accredify.io/api/v2
  description: Accredify Main Server (Production)
tags:
- name: Institutions
  description: Institutions
paths:
  /institutions/access-matrix:
    post:
      tags:
      - Institutions
      summary: Access Matrix
      description: Retrieves the access matrix for the users of the institution
      operationId: accessMatrix
      responses:
        '200':
          description: User access matrix retrieved successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        name:
                          description: User's full name
                          type: string
                        email:
                          description: User's email address
                          type: string
                        roles:
                          description: User's roles, comma-separated if multiple
                          type: string
                        permissions:
                          description: User's permissions, comma-separated if multiple
                          type: string
                        last_login_at:
                          description: Timestamp of the user's last login
                          type:
                          - string
                          - 'null'
                          format: date-time
                        password_updated_at:
                          description: Timestamp of the last password update
                          type: string
                          format: date-time
                      type: object
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthenticatedRequest'
        '404':
          $ref: '#/components/responses/NotFoundRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntityRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalErrorRequest'
      security:
      - bearerAuth: []
components:
  responses:
    NotFoundRequest:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 404
              message:
                type: string
                example: Please ensure you are making the request to the correct endpoint.
            type: object
    UnauthenticatedRequest:
      description: Unauthenticated request
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 401
              message:
                type: string
                example: Unauthenticated. You might have provided an invalid access token or your token has already expired.
            type: object
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 429
              message:
                type: string
                example: You're submitting requests too quickly. Please retry again after 60 seconds.
            type: object
    InternalErrorRequest:
      description: Internal server error
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 500
              message:
                type: string
                example: There was an unexpected error while performing your last action. Please contact us at support@accredify.io with the error code for internal reference
              code:
                type: string
                example: E500
            type: object
    UnprocessableEntityRequest:
      description: Unprocessable entity
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 422
              errors:
                type: array
                items:
                  type: string
              message:
                type: string
                example: Validation failed for the request.
            type: object
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            properties:
              status:
                type: integer
                example: 400
              message:
                type: string
                example: We couldn't find you, please try again.
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      description: 'JWT Authorization header using the Bearer scheme. Example: ''Authorization: Bearer {token}'''
      bearerFormat: JWT
      scheme: bearer
